<!DOCTYPE html>
<html  ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title>Module</title>
</head>
<body>
Enter Name : <input type="text" ng-model="name"/>{{name}}
<div ng-controller="SimpleController">
    <ul>
        <li ng-repeat="obj in list">
            {{ obj.name +'--'+ obj.city }}
        </li>
    </ul>
</div>
</body>
<script type="text/javascript" src="JS/angular.min.js"></script>
<script type="text/javascript">
    var demoApp = angular.module('demoApp', []);

    demoApp.controller('SimpleController', function($scope){
        $scope.list = [
            { name: "kamal", city: "GDB"},
            { name: "Kumar", city: "Mohali"},
            { name: "Rajora", city: "CHD"}
        ];
    });
</script>
</html>