<!DOCTYPE html>
<html  ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title>JSON with Factory</title>
</head>
<body>
Enter Name : <input type="text" ng-model="name"/>{{name}}
<div ng-controller="SimpleController">
    <ul>
        <li ng-repeat="obj in list">
            {{ obj.name }} --{{ obj.city }}
        </li>
    </ul>
</div>
</body>
<script type="text/javascript" src="JS/angular.min.js"></script>
<script type="text/javascript">
    var demoApp = angular.module('demoApp', []);
    demoApp.factory('simpleFactory', function($http, $scope){
        var listData = [];
        //alert($http);
        var factory = {};
        factory.getList=function(){
            $http.get('GetData.json').success(function(data) {
                $scope.list = data;
                alert(listData[0].name);
            });

            alert(listData);
            return listData;
        }
        return factory;
    })
    demoApp.controller('SimpleController', function($scope, simpleFactory){
        $scope.list = simpleFactory.getList();
        alert( simpleFactory.getList());
    });
</script>
</html>