<!DOCTYPE html>
<html ng-app="demoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Sorting table columns interactively</title>
</head>
<body>
    <div ng-controller="SimpleController" >
        Search : <input type="text" ng-model="filterObj">
        <table>
            <tr>
                <th ng-click="sortField='name'; reverse = !reverse"><a href="">Name</a></th>
                <th ng-click="sortField='city'; reverse = !reverse"><a href="">City</a></th>
            </tr>
            <tr  ng-repeat="obj in list | filter: filterObj | orderBy : sortField : reverse">
                <td>
                    {{obj.name}}
                </td>
                <td>
                    {{obj.city}}
                </td>
            </tr>
        </table>
    </div>

</body>
<script type="text/javascript" src="JS/angular.min.js"></script>
<script type="text/javascript">
    var demoApp = angular.module("demoApp", []);
    demoApp.controller('SimpleController', function($scope, $http){
        $http.get('GetData.json').success(function (data){
            $scope.list = data;
        });
        $scope.sortField = '';
        $scope.reverse = true;
    });
</script>
</html>